################################
# APPLICATION
################################
APP_NAME=companyOnibus
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

################################
# TIMEZONE
################################
TIME_ZONE=America/Fortaleza

################################
# DOCKER / PORTS
################################
NGINX_PORT=80
NGINX_PORT_TWO=8080

PHPMYADMIN_PORT=8081

PORTAINER_PORT=9000
PORTAINER_PORT_TWO=9001

################################
# DATABASE
################################
DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306

DB_DATABASE=company_onibus
DB_USERNAME=app_user
DB_PASSWORD=secret

MYSQL_ROOT_PASSWORD=root

################################
# REDIS
################################
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=secret

################################
# MAIL (MAILHOG - DEVELOPMENT)
################################
MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=null

MAIL_FROM_ADDRESS=dev@companyonibus.local
MAIL_FROM_NAME="${APP_NAME}"

FORWARD_MAILHOG_PORT=1025
FORWARD_MAILHOG_DASHBOARD_PORT=8025

################################
# PHP
################################
PHP_MEMORY_LIMIT=512M
PHP_MAX_EXECUTION_TIME=300